@import "https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap";


.footer {
  background-color: #99AFFF;
  min-height: 70px;
  width: minmax(360px, maxcontent);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.brand {
  width: 37.6px;
  height: 37.6px;
  margin: 2px 10px;
}
.logos-container {
  display: flex;
  font-family: 'Kumbh', Sans;
}
.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-description {
  margin: 0 10px;
  font-size: 10px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
.footer-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'kumbh', Sans;
  font-size: 12px;
  background-color: #99afff;
  color: black;
  min-width: -moz-available;
  min-width: -webkit-fill-available;
}

@media only screen and (min-width: 530px){

	.footer-contacto-elements{
    display: flex;
    >p{
      margin: 10px 10px;
    }
  } 
	
}


@media only screen and (min-width:1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer-contacto {
    height: auto;
    background-color: inherit;
    color: black;
    min-width: max-content;
    align-items: center;
    >h4 {
      align-self: center;
      margin: 5px 0px;
    }
  }
  .footer-contacto-elements{
    display: flex;
    >p{
      margin: 10px 10px;
    }
  }
}
