.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 1rem;
  width: 95%;
}

.heroImage {
  border-radius: 10px;
  height: 400px;
  margin-left: 200px;
  width: 600px;
}

.welcome {
  margin-right: 200px;
  width: 500px;
}

.container h1 {
  font-size: 3rem;
  margin: 40px;
  padding-left: 20px;
}

@media screen
  and (device-width: 640px) {
    .container {
      align-items: start;
      height: 800px;
    }

    .heroImage {
      height: auto;
      width: 350px;
    }
}