@import '../variables.scss';
.containerDetails{
  padding: $space-medium;
  display: flex;
  justify-content: space-around;
  h2{
    font-weight: 400;
  }

}

.infoRoom{
  padding: $space-medium;
  max-width: 600px;
  ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
  }
}

.infoHost{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .photoHost{
    border-radius: 20px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
    width: 100px;
  }

  small{
    margin-bottom: $space-nano;
  }

  article{
    img{
      margin-right: $space-micro;
      object-fit: cover;
      object-position: center center;
    }
  }
}

