@import "../variables.scss";

.mainContainer{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $font-Family-Kumbh;
  justify-content: center;
  min-height: 100vh;
}

.Cards{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 50vh;
    width: 100%;
    h2{
      text-align: center;
      margin-top: 30px;
      font-size: 50px;
    }
}

.Container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 90%;
    width: 100%;
}
