@import "../variables.scss";

.mainContainer{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $font-Family-Kumbh;
  justify-content: center;
  min-height: 100vh;
}

.Cards{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 50vh;
    width: 100%;
    h2{
      text-align: center;
      margin-top: 30px;
      font-size: 50px;
    }
}

.Container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 90%;
    width: 100%;
}

.Card{
    border: 1px solid $Primary-Gray;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 80px 1fr;
    height: 250px;
    justify-content: center;
    margin-left: 100px;
    width: 250px;
}
.Super{
    display: flex;
    height: 100px;
    justify-content: center;
    background-color: $color-Card; 
    border-radius: 10px 10px 0 0;
    width: 248px;
}

.Perfil{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    border-radius: 50%;
    background-color: black;
    border-radius: 10px; 
}

.Text{
    text-align: center;
    margin-top: 50px;
}

.Infe{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.Buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  button {
    border: none;
    border-bottom:  1px solid none;
    border-radius: $border-value;
    color:$color-Black;
    cursor: pointer;
    font-family: $font-Family-Kumbh;
    height: 40px;
    outline: none;
    margin: 0 10px;
    padding: $space-micro;
    transition: color 0.7s, box-shadow 0.7s,border-bottom 1s;
    width: 100px;
  }
  button:hover {
    border-bottom:  1px solid none ;
    box-shadow: $value-shadow-box;
  }
}

.like {
  background-color: $Primary-green;
}

.noLike {
  background-color: $color-Warning-Primary;
}
