.container{
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 1rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 

  img{
    flex: 0 0 auto; 
    
  }
}