@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-Family-Kumbh, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body{
  background: -webkit-linear-gradient(#f0f4ff, #92ffeb9f);
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/**
 * All files to be compiled
 */

/**
 * Reset
 **/
//  @import "./reset.scss";

 /**
  * Variables
  **/
 
 
 /**
  * Animations
  **/
@import "./animations/index.scss";
 

 
 /**
     * COMPONENTS
 **/
 @import "./Components/Card.module.scss";
 @import "./Components/Home.module.scss";
 @import "./Components/Header.module.scss";
 @import "./Components/Login.module.scss";
 @import "./Components/Profile.module.scss";
 @import "./Components/Register.module.scss";
 @import "./Components/Search.module.scss";
 
 /**
  * LAYOUTS
  **/



