/*------------------------------------------------*\
                    $VARIABLES
\---------------------------------------------------*\

/* here we define the variables that will be used */

/* imports fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Roboto:ital,wght@0,400;1,300;1,500&display=swap');

/*branding Colors  */
$Primary-Lightest:#92FFEB;
$Primary-Lightest-Gray:#9EA5A5;
$Primary-Lighter:#D8FCFF;
$Primary-Lighter-Gray:#4B5252;
$Primary-Light:#A8FFFF;
$Primary-Light-Gray:#737A7A;
$Primary:#F6F8FF;
$Primary-Gray:#272D2D;
$Primary-green:#B7FFAE;
$Primary-Dark:#CAD2D2;
$color-Background-Container: #FEF6E4;
$color-Background-Section: #FFFFFE;
$color-Warning-Primary: #F582AE;
$color-Warning-Yellow: #f0e26e;
$color-warning-Green: #98ee98;
$color-Black:#000;


/*-----FONTS-----*/

$font-Family-Kumbh:'Kumbh Sans', sans-serif;
$font-Family-Roboto: "Roboto", sans-serif;

@mixin paragraph {
  font-size: 16px;
  color: $color-Black;
  font-family: $font-Family-Roboto;
}

@mixin h2 {
  font-size: 38px;
  font-family: $font-Family-Kumbh;
}

/*--- TITLES ---*/

@each $header, $size in (h1, 52px), (h2, 38px), (h3, 32px), (h4, 28px), (h5, 24px) {
  #{$header} {
    font-size: $size;
    font-weight: 900;
    font-family: $font-Family-Kumbh;
    color: $color-Black;
  }
}

/*--- CONTENT ---*/

@each $type_text, $size,
  $weight in (strong, 18px, 400) (p, 18px, 400) (small, 16px, 400)
{
  #{$type_text} {
    font-size: $size;
    font-weight: $weight;
    font-family: $font-Family-Roboto;
    color: $color-Black;
  }
}


/*---- SPACING ---*/
$space-nano: 8px;
$space-micro: 16px;
$space-small: 24px;
$space-medium: 40px;
$space-large: 80px;
$space-extraLarge: 160px;

/*---- EFFECTS ---*/

$value-shadow-Box: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

